.App {
  text-align: center;
}
nav a {
  padding: 2vw;
}
h5 {
  color: white;
  font-size: medium; 
}
h6 {
  color: white;
  font-size: medium; 
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}
.card {
  background-image: url('./images/soccerball.png');
  background-repeat: no-repeat;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  height:130px

}